.flavors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;


    .flavor {
        max-width: 300px;
        min-height: 200px;
        border: 1px $primary-color;
        display: flex;
        flex-direction: column;
        padding: 50px;

        img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 300px;
            max-height: 200px;
    
        }

        p {
            font-size: 30px;
            text-align: center;
            font-family: $merry;
        }
    }
}